# Configuration de l'API OpenAgenda
# API_URL=https://public.opendatasoft.com/api/explore/v2.1/catalog/datasets/evenements-publics-openagenda/records/
# API_LIMIT=10
# API_OFFSET=0

# Configuration des chemins 
# INPUT_DIR=inputs
# OUTPUT_DIR=outputs
# JSON_FILENAME=evenements-publics-openagenda.json
# JSON_FILENAME_CLEAN=evenements-publics-openagenda-clean.json

# Configuration Mistral
# MISTRAL_API_KEY=KEY